.relative {
    position: relative;
  }
  
  .label {
    position: absolute;
    left: 0.75rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    color: #4a4a4a;
    font-size: 0.875rem;
    transition: all 0.2s;
  }
  
  .labelFocused {
    top: -0.875rem;
    background-color: transparent;
  }
  
  .labelUnfocused {
    top: 1rem;
  }
  
  .inputContainer {
    display: flex;
    justify-content: space-between;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: white;
    border-radius: 0.75rem;
    cursor: pointer;
    box-shadow:  1px 1px 5px #bebebe;
    margin-bottom: 10px;
  }
  
  .chipContainer {
    display: flex;
    gap: 0.5rem;
    height: 2.25rem;
    overflow-x: auto;
    background-color: transparent !important;
  }
  
  .chip {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.75rem;
  }
  
  .chipText {
    white-space: nowrap;
  }
  
  .closeButton {
    margin-left: 0.5rem;
    color: #4a4a4a;
  }
  
  .closeIcon {
    font-size: 1.3rem;
  }
  
  .input {
    flex: 1;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: none;
    outline: none;
    background-color: transparent;
  }
  
  .refreshButton {
    color: #4a4a4a;
  }
  
  .refreshIcon {
    color: #138dff;
    font-size: 1rem;
  }
  
  .dropdown {
    position: absolute;
    z-index: 50;
    margin-top: 0.25rem;
    width: 100%;
    background-color: white;
    border: 1px solid #d4d4d4;
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    max-height: 15rem;
    overflow: auto;
  }
  
  .option {
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
  }
  
  .optionHighlighted {
    background-color: #e2e2e2;
  }
  
  .checkbox {
    margin-right: 0.5rem;
  }
  
  .optionText {
    font-size: 0.875rem;
  }
  
  .toggleButton {
    margin-left: auto;
  }
  
  .toggleIcon {
    font-size: 0.75rem;
  }
  
  .nestedOptionsContainer {
    margin-left: 1rem;
  }
  
  .nestedOption {
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
  }
  
  .nestedOption .checkbox {
    margin-right: 0.5rem;
  }
  
  .nestedOption .optionText {
    font-size: 0.875rem;
  }
  